

.App {
  text-align: center;
  background: url('./images/background.jpg');
  height: 100%;
  
}

.loko{
  position: relative;
}

.loko::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -845px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.header {
  
  min-height: 10vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:purple;
}

.App-link {
  color: #d164cc;
}

.icon:hover{
  color: rgb(154, 42, 177);
}

/*-----------ttodo cafe  --------------*/

.TodoCafe{
  display: flex;
  justify-content: flex-start;
  flex-direction:column-reverse;
  
  padding: 20px;
  margin: 20px;
  width: 100%;
  
}


.artesanias{
  padding: 250px;
}

.btn{
  padding: 20px;
  background-color:rgb(175, 112, 207);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 20%;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
}
   
.comment{
  padding: 0;
  background-color: rgb(165, 212, 237);
 
    display: inline-block;
}

footer{
  width: 100%;
  margin-top: 40px;
}

.css-r8jw1s{
  width: 50% !important;
  max-width: 100px !important;
  margin: auto !important;
}

.services{
  margin: 100px 0;
}

.ProductList{
  padding: 50px;
}

.ProductoCard{
  margin: 20px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.details-box{
  text-align: center;
}

.css-0{
  text-align: start;
}



.content-btn{
  margin-top: -250px;
  margin-bottom: 300px;
  margin-right: 500px;
}

.artesania-details{
  margin: 50px;
 
}

/*-----------------*/

.title_product{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.caja-product{
 *background: #d7d7d7;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.comment{
  margin-bottom: 100px;
}

.comment-card div{
  text-align: start;
  width: 100%;
  margin-bottom: -20px;
}

.comment-card{
  text-align: start !important;
}

.comment-card:last-child{
  margin-bottom: 100px;
}

.btn-login{
 background-color: rgb(162, 77, 166);
 padding: 15px;
 border: none;
 border-radius: 20px;
 color: white;
 cursor: pointer;
 font-size: 25px;
}

.preview-image{
  width: 200px;

}
