.App {
  text-align: center;
  background: url('../public/images/background.jpg');
}



.header {
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:purple;
}

.App-link {
  color: #d164cc;
}


